$couleur-primaire : #046865;
$couleur-secondaire : #21A0A0;
$couleur-tertiaire : #FCFCFC;

$item-width: 40%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 500px;