@import "./variables";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html{
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Dancing Script', cursive;
}

p {
  font-weight: 300;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  padding: 20px 0;
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  padding: 0 0 20px 0;
}

nav {
  background: linear-gradient(to bottom, darken($couleur-primaire, 5%) 75%, darken($couleur-primaire, 15%));
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 15px 10px;
  display: flex;
  justify-content:center ;
  z-index: 1;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1440px;
      padding: 0 15px;
    }
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: $couleur-tertiaire;
        }
      }
}

#presentation {
  padding: 50px 150px;
  background: linear-gradient(to bottom, $couleur-primaire 85%, $couleur-secondaire);
  color: $couleur-tertiaire;
  

    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .estelle {
      width: 70%;
      max-width: 1440px;
      margin: auto;
      .nom {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        // border: 1px solid black;
        float: left;
        shape-outside: margin-box;
        margin: 0 15px 5px 0;
        position: relative;
        img {
          height: 200px;
          width: 200px;
          object-fit: cover;
          border-radius: 50%;
        }
        h1 {
          font-size: 36px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }    
    }
    .competences {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .nomcomp {
        position: relative;
        &::after {
          position: absolute;
          display: inline-block;
          content: "";
          top: 35px;
          left: 50%;
          transform: translateX(-50%);
          width: 45px;
          height: 5px;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 3px;
        }
      }
       .detail {
        border: 5px solid rgba(255, 255, 255, 0.5);
        height: 300px;
        width: 300px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 35px;
        margin: 5px;
      }
    }
}

//animation
.detail {
  display: none;
}

.detail.visible {
  animation: scale-in 0.5s ease-out forwards;
}

@keyframes scale-in {
  from {
      transform: scaleX(0);
  }
  to {
      transform: scale(1);
  }
}





#acti {
  padding: 48px 15px;
  background: linear-gradient(to bottom, $couleur-secondaire 15%, $couleur-tertiaire);
  color: $couleur-tertiaire;
  .zonetexte {
    max-width: 1440px;
    margin: auto;
    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 2vmin;
      padding: 0 24px;
      li {
        list-style-type: none;
        height: 250px;
        flex-grow: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: 5px 5px 5px 2px rgba($couleur-primaire, $alpha: 0.75);
        }
      }
    }
  }
}

.gallery ul li img {
  display: none;
}

#acti .gallery img.visible {
  animation: scale-top 0.5s ease-out forwards;
}

@keyframes scale-top {
  from {
      transform: scaleY(0);
  }
  to {
      transform: scale(1);
  }
}

//carousel acti
.carousel {
	padding: 20px;

	perspective: $viewer-distance;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		
		img {
			width: 100%;
      height: 100%;
      object-fit: contain;
			box-sizing: border-box;
			padding: 0 $item-separation / 2;
			
			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	
	.test1 {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			margin: 0 5px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 25px;
      font-weight: bold;

			
			cursor: pointer;
			
			background-color: $couleur-primaire;
      color: white;
      border-radius: 50%;
			padding: 5px 10px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: $couleur-primaire;
      }
		}
	}
	
}


#services {
  padding: 48px 15px;
  background: linear-gradient(to bottom, $couleur-tertiaire 85%, $couleur-secondaire);
  color: darken($couleur-primaire, 5%);
  .zonetexte {
    max-width: 1440px;
    margin: auto;
  }
}

//slider
#slider {
  position: relative;
  width: 250px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  transition: opacity 3s ease-in-out;
}

#slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
  box-shadow: 5px 5px 5px 2px rgba($couleur-primaire, $alpha: 0.75);
}

#precedent,
#suivant {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  font-size: 25px;
  color: $couleur-tertiaire;
  font-weight: bold;
  background-color: $couleur-primaire;
  border-radius: 50%;
  padding: 10px 15px;
  transition: opacity 0.5s ease;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider #precedent,
#slider #suivant {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

#contact {
  padding: 48px 15px;
  background: linear-gradient(to bottom, $couleur-secondaire 85%, $couleur-primaire);
  color: $couleur-tertiaire;
  .zonetexte {
    max-width: 1440px;
    margin: auto;
  }
}

//formulaire
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin: 15px 25px;
  background: transparent;
}

input:focus, textarea:focus {
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
}

input::placeholder, textarea::placeholder {
  color: $couleur-tertiaire;
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
}

button {
  background-color: $couleur-primaire;
  color: white;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 80px 25px 80px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, font-weight 1s ease-in-out;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: $couleur-primaire;
    font-weight: bold;
  }
}

footer {
  background: linear-gradient(to bottom, $couleur-primaire 75%, darken($couleur-primaire, 15%));
  text-align: center;
  padding: 15px 0 5px 0;
  color: $couleur-tertiaire;
}
